@media screen and (max-width: 850px) {
    /* Your responsive styles here */
    
#home {
    height: 370px;
    padding: 3px 68px;
}

#home p{
    font-size: 1rem;
}

.btn{
    font-size: 0.7rem;
}

.item a{
    font-size: 0.8rem;
}

#sideicon{
    font-size: 0.7rem;
}

h2 {
    font-size: 2rem;
}

#logo img {
    height: 40px;
    /* margin: 3px 6px; */
}

#none{
    display: none;
}

.h-primary {
    font-size: 2.5rem;
    margin-top: 80px;
    font-family: 'Bree Serif', serif;
}
.service-container{
    margin-top: 10px;
}

#services {
    flex-direction:column;
    margin: 6px;
}

#secvices .box{
    margin: 3px 30px;
    padding: 14px;
    margin-bottom: 20px;
} 

#services .box p{
    font-size: 0.8rem;
  }

.h-sec{
    font-size: 1.3rem;
    padding: 6px;
    
}

#services .box img{
    height: 90px;
    width: 100px;
}

/* .h-primary center{
    font-size: 0.7rem;
} */
#home::before {
    height: 480px;
    padding-top: 80px;
}
 
 .navbar{
    flex-direction: column;
    /* height: fit-content; */
} 

.bardata{
    width: 170px;
}

.box {
    display: flex;
    height: 5vh;
    padding-left: 2vh;
    align-items: center;
}

.box a {
    padding-left: 3vh;
    color: blue;
    font-size: 1.2rem;
}

.box i {
    font-size: 1.1rem;
}

.menu-container h1{
    font-size: 1.7rem;
}

.footer-section h2{
    font-size: 1.4rem;
}

.footer-section h3{
    font-size: 0.8rem;
}

.footer-section p{
    font-size: 0.5rem;
}

.social-icons a{
    font-size: 10px;
  }

}




